body{
    font-family: 'Arial', sans-serif;
    background-color: ffffff;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: rgb(249, 180, 19);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0%;   
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-body {
    display: flex;
    flex-direction: row;
}

.left-sidebar {
    background-color: rgb(255, 231, 188);
    color: black;
    padding: 10px;
    width: 200px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    border-right: 2px solid rgb(140, 87, 35, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.main-nav {
    color: white;
    padding: 10px;
    margin-top: calc(40px + 10%);
    display: flex;
    justify-content: space-evenly;
}

.main-catagories {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.main-content {
    color: rgb(0, 0, 0);
    margin-left: calc(200px + 10%);
    margin-right: 10%;
    margin-top: 60px;
    padding: 10px;
    width: 60%;
    overflow-x: auto;
}

.post {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#prompt {
    margin-top: 70px;
}

#form {
    margin-top: 20px;
    background-color: rgb(255, 231, 188);
    color: black;
    border-radius: 0px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    width: max-content;
}

#post-preview .post {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#form-field {
    margin-left: 25px;
}

#prompt {
    margin-top: 70px;
    margin-left: 25px;
}

#form-field label {
    color: black;
}

.messages {
    color: red;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Arial', sans-serif;
}