<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{% block title %} Django App {% endblock %}</title>
    </head>
    <body>
        <!-- Heading -->
        <header>
            <h1 id="header-title">My Other Blog!</h1>
            <p id="header-title">Orlando Quintana</p>
        </header>
    
        <!-- Overview -->
        <div class="content">
            <h2 id="subheading">Overview</h2>
            <p id="subheading-content">This website will be a blog titled “My Portfolio,” used to showcase 
                my brand. Subjects may include daily thoughts, news about my 
                community, announcements, food for thought, or just thinking out 
                loud. It will also expose my brand to clients and future employers.</p>
        </div>
    
    </body>
</html>