{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Blog Post</title>
    <link rel="stylesheet" href="{% static 'myblog/css/style.css' %}"/>
</head>
<body>
    <h1 class="main-header">The Blog Index</h1>
    <h2 id="prompt">Are you sure you want to delete this post?</h2>
    
    <!-- Display post to be deleted -->
    <div id="post-preview">
        <div class="post">
            <h2>{{ post.title }}</h2>
            <h4>Posted on {{ post.date }}</h4>
            <pre>{{ post.content }}</pre>
        </div>
    </div>
    
    <!-- Confirm -->
    <div id="options">
        <form id="form" method="POST">
            {% csrf_token %}
            <input type="submit" value="Confirm Delete">
        </form>
        <a href="{% url 'blog_index' %}">Cancel</a>
    </div>
</body>
</html>
